<h2>Blog: <%= @blog.id %></h2>

<p><b>Title:</b><%= @blog.title %></p>
<p><b>Description:</b> <%= @blog.description %> </p>
<p><b>Created at:</b> <%= @blog.created_at %> </p>
<p><b>Updated at:</b> <%= @blog.updated_at %> </p>


<p>
  <%= link_to 'Edit', edit_blog_path(@blog) %>
  &nbsp;
  <%= link_to 'Delete', blogs_path(@blog) %>
  &nbsp;
  <%= link_to 'Back', blog_path(@blog.id), method: :delete, data:{ confirm: "Are you sure, you want to delete?"  %>
</p>
